@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
}